body{
margin: 0;
padding: 0;
font-family: 'Noto Sans KR', sans-serif;
}

.logo{
width: 55px;
height: 31px;
margin-top: 27px;
margin-left: 320px;
}

.side1{
font-size: 12px;
margin-left: 630px;
}

.side2{
font-size: 12px;
margin-left: 25px;
}

.search-btn{
width: 15px;
height: 15px;
margin-top: 8px;
margin-left: -24px;
}

.nav-container{
display: flex;
list-style: none;
margin-left: 232px;
margin-top: 25px;
padding-right: 15px;
font-weight: 400;
}

.nav-item{
font-size: 15px;
font-style: normal;
margin-left: 20px;
font-weight: 400;
font-style: normal;
border-right: 2px solid rgba(143, 177, 176, 1);
padding-right: 35px;
padding-left: 25px;

}

.nav-item2{
font-size: 15px;
font-style: normal;
margin-left: 20px;
font-weight: 400;
font-style: normal;
border: none;
padding-right: 35px;
padding-left: 22px;

}

a{
text-decoration: none;
color:black;
}

a:hover{
color: rgba(146, 181, 180, 1);
}

.v100_108 {
  width: 100%;
  height: 47px;
  background: rgba(201,218,217,1);
  opacity: 1;
  position: absolute;
  top: 1112px;
  left: 0px;
  overflow: hidden;
}
.v100_109 {
  width: 190px;
  height: 49px;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 310px;
  overflow: hidden;
}
.v100_110 {
  width: 190px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v100_111 {
  width: 90px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 320px;
  overflow: hidden;
}
.v100_112 {
  width: 90px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v100_113 {
  width: 90px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 320px;
  overflow: hidden;
}
.v100_114 {
  width: 90px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v100_115 {
  width: 60px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 320px;
  overflow: hidden;
}
.v100_116 {
  width: 60px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v100_117 {
  width: 60px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 724px;
  left: 320px;
  overflow: hidden;
}
.v100_118 {
  width: 60px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v100_119 {
  width: 19px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 320px;
  overflow: hidden;
}
.v100_120 {
  width: 19px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v100_121 {
  width: 100px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 861px;
  left: 320px;
  overflow: hidden;
}
.v100_122 {
  width: 100px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v100_123 {
  width: 40px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 918px;
  left: 320px;
  overflow: hidden;
}
.v100_124 {
  width: 40px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v100_125 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 317px;
  left: 96px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_126 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 367px;
  left: 96px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_127 {
  width: 65px;
  color: rgba(132,168,169,1);
  position: absolute;
  top: 417px;
  left: 96px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_128 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 467px;
  left: 96px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_129 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 517px;
  left: 96px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_130 {
  width: 31px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 987px;
  left: 884px;
  overflow: hidden;
}
.v100_131 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v100_132 {
  width: 31px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 1028px;
  left: 884px;
  overflow: hidden;
}
.v100_133 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v100_134 {
  width: 55px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 1005px;
  left: 914px;
  overflow: hidden;
}
.v100_135 {
  width: 55px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_136 {
  width: 55px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_137 {
  width: 55px;
  height: 30px;
  background: rgba(146,180,179,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v100_138 {
  width: 34px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: Noto Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
/* .v100_139 {
  width: 550px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 420px;
  border: 2px solid rgba(77,118,123,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
} */
/* .v100_140 {
  width: 550px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 420px;
  border: 2px solid rgba(77,118,123,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
} */
.v100_141 {
  width: 83px;
  height: 38px;
  background: rgba(146,180,179,1);
  opacity: 1;
  position: absolute;
  top: 856px;
  left: 444px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_142 {
  width: 83px;
  height: 38px;
  background: rgba(146,180,179,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 444px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_143 {
  width: 83px;
  height: 38px;
  background: rgba(146,180,179,1);
  opacity: 1;
  position: absolute;
  top: 913px;
  left: 444px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_144 {
  width: 82px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 532px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_145 {
  width: 84px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 618px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_146 {
  width: 84px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 706px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_147 {
  width: 82px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 856px;
  left: 532px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_148 {
  width: 83px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 444px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_149 {
  width: 83px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 786px;
  left: 444px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_150 {
  width: 82px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 913px;
  left: 532px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_151 {
  width: 82px;
  height: 38px;
  background: rgba(146,180,179,1);
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 532px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_152 {
  width: 84px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 618px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_153 {
  width: 84px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 706px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_154 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 867px;
  left: 474px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_155 {
  width: 82px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 794px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_156 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 867px;
  left: 562px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_157 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 725px;
  left: 474px;
  font-family: Noto Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_158 {
  width: 83px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 881px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_159 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 924px;
  left: 474px;
  font-family: Noto Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_160 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 559px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_161 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 924px;
  left: 556px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_162 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 797px;
  left: 536px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_163 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 652px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_164 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 739px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_165 {
  width: 550px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 420px;
  border: 2px solid rgba(77,118,123,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 12px;
  outline-color:  rgba(77,118,123,1);
}
.v100_166 {
  width: 550px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 420px;
  border: 2px solid rgba(77,118,123,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 12px;
  outline-color: rgba(77,118,123,1);
}
.v100_167 {
  width: 65px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 797px;
  left: 454px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_168 {
  width: 16px;
  height: 16px;
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 932px;
  overflow: hidden;
}
.v100_169 {
  width: 360px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 363px;
  left: 320px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_170 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 668px;
  left: 459px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_171 {
  width: 34px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 668px;
  left: 562px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_172 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 668px;
  left: 635px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_173 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 668px;
  left: 730px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_174 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 826px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_175 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 902px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_176 {
  width: 85px;
  position: absolute;
  top: 393px;
  left: 320px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v100_176_1{
  width: 175px;
  position: absolute;
  top: 415px;
  left: 320px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 10px;
  color: #69A19F;
  opacity: 1;
  text-align: left;
}
.v100_177 {
  width: 95px;
  position: absolute;
  top: 450px;
  left: 320px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v100_177_1{
  width: 175px;
  position: absolute;
  top: 472px;
  left: 320px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 10px;
  color: #69A19F;
  opacity: 1;
  text-align: left;
}
/* .name {
  color: #fff;
} */
.v100_179 {
  width: 100%;
  height: 9px;
  background: rgba(201,218,217,1);
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 0px;
  overflow: hidden;
}
.v100_180 {
  height: 856px;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 244px;
  border: 3px solid rgba(201,218,217,0.30000001192092896);
}
.v102_1617 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 567px;
  left: 96px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v100_180_1{
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 856px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}