body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.logo{
  width: 55px;
  height: 31px;
  margin-top: 27px;
  margin-left: 320px;
}

.side1{
  font-size: 12px;
  margin-left: 630px;
}

.side2{
  font-size: 12px;
  margin-left: 25px;
}

.search-btn{
  width: 15px;
  height: 15px;
  margin-top: 8px;
  margin-left: -24px;
}

.nav-container{
  display: flex;
  list-style: none;
  margin-left: 232px;
  margin-top: 25px;
  padding-right: 15px;
  font-weight: 400;
}

.nav-item{
  font-size: 15px;
  font-style: normal;
  margin-left: 20px;
  font-weight: 400;
  font-style: normal;
  border-right: 2px solid rgba(143, 177, 176, 1);
  padding-right: 35px;
  padding-left: 25px;

}

.nav-item2{
  font-size: 15px;
  font-style: normal;
  margin-left: 20px;
  font-weight: 400;
  font-style: normal;
  border: none;
  padding-right: 35px;
  padding-left: 22px;

}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color: rgba(146, 181, 180, 1);
}

.v121_398 {
  width: 100%;
  height: 47px;
  background: rgba(201,218,217,1);
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 0px;
  overflow: hidden;
}
.v121_399 {
  width: 700px;
  height: 49px;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 325px;
  overflow: hidden;
}
.v121_400 {
  width: 700px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v121_421 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 335px;
  left: 508px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v121_422 {
  width: 55px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 401px;
  left: 591px;
  overflow: hidden;
}
.v121_423 {
  width: 55px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_424 {
  width: 55px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_426 {
  color: rgba(255,255,255,1);
  position: absolute;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
  width: 55px;
  height: 30px;
  background: rgba(146,180,179,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
  border:none;
  outline-color: none;
  cursor: pointer;
}
.v298_15 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 856px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}